<!DOCTYPE html>
<html>
  <head>
    <title>m_yuya's monologue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css" rel="stylesheet" />
  </head>

  <body>
    <div class="header">
      <a class="title" href="/">m_yuya's monologue</a>
      <%= image_tag "monologue.png", class: "head-img" %>
      <a class="link">Link</a>
      <a class="profile">Profile</a>
    </div>
    <%= yield %>
    <div class="footer">
      <hr>
      <p>© 2023 m_yuya</p>
    </div>
  </body>
</html>
